<div class="actions">
<a href="/recipes/add-to-list/{{id}}" data-button-id="recipes-add-to-list-button" class="recipes-button">
  <span class="material-symbols-outlined">playlist_add</span>
  {{ label }}
</a>
</div>