<label {{attributes.addClass('item')}}>
  <span class="item-text">
    <span class="marker">-</span>
    <span class="ingredient">{{ingredient}}</span>
    {% if amount %}
      <span class="marker">-</span>
      <span class="amount">{{amount}}</span>
    {% endif %}

    {% if extra %}
    <span class="extra">({{extra}})</span>
    {% endif %}
  </span>
</label>