<div class="actions">
<a href="/recipes/remove-from-list/{{id}}" data-button-id="recipes-add-to-list-button" class="recipes-button">
  <span class="material-symbols-outlined">playlist_remove</span>
  {{ label }}
</a>
</div>