<div class="ingredient">
  <span class="ingredient-amount">{{ content.field_recipes_ingredient_amount }}</span>
  <span class="ingredient-ingredient">{{ content.field_recipes_ingredient_ingredient }}</span>
  {% if content.field_recipes_ingredient_extra %}
    <span class="ingredient-extra">{{ ingredient.field_recipes_ingredient_extra }}</span>
  {% endif %}
</div>
