html,
body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
}
.wrap {
  min-height: 100%;
  height: auto;
}
.wrap > .container {
  padding: 70px 15px 20px;
}
.footer {
  height: 60px;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  padding-top: 20px;
}
.jumbotron {
  text-align: center;
  background-color: transparent;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}
.not-set {
  color: #c55;
  font-style: italic;
}
/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  padding-left: 5px;
}
a.asc:after {
  content: /*"\e113"*/ "\e151";
}
a.desc:after {
  content: /*"\e114"*/ "\e152";
}
.sort-numerical a.asc:after {
  content: "\e153";
}
.sort-numerical a.desc:after {
  content: "\e154";
}
.sort-ordinal a.asc:after {
  content: "\e155";
}
.sort-ordinal a.desc:after {
  content: "\e156";
}
.grid-view th {
  white-space: nowrap;
}
.hint-block {
  display: block;
  margin-top: 5px;
  color: #999;
}
.error-summary {
  color: #a94442;
  background: #fdf7f7;
  border-left: 3px solid #eed3d7;
  padding: 10px 20px;
  margin: 0 0 15px 0;
}
.recipe-planner-ingredient-form .help-block, .recipe-planner-ingredient-form .form-group {
  display: inline;
}
.recipe-planner-ingredient-form .shopping-list-item {
  margin-bottom: 10px;
}


.actions {
  float: right;
  font-size: 2em;
}

.actions a {
  color: black;
}


h1:first-of-type {
  margin-top:0;
}

/* Recipe card */
.card, .card__mini {
  position: relative;
  border: 1px solid #b1b1b1;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.15);
  margin-bottom: 20px;
  overflow: hidden;
  height: 160px;
}

@media (min-width: 1200px) {
  .card, .card__mini {
    height: 198px;
  }
}

.card img, .card__mini img {
    width: 100%;
}
.card-summary, .card__mini-summary {
  position: absolute;
  bottom: 0px;
  font-weight: 300;
  width: 100%;
  font-size: 1.5em;
  background: rgba(255, 255, 255, 0.75);
  color: black;
  padding: 5px 45px 5px 15px;
}

.card-summary a, .card__mini-summary a {
  color: black;
}

.card-action {
  position: absolute;
  right: 15px;
  bottom: 5px;
}

.card-rating {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 2px;
    background: rgba(255, 255, 255, 0.75);
}

.card-popularity {
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 2px;
    background: rgba(255, 255, 255, 0.75);
}

.card__mini {
  margin-top: -11px;
}



i.fa-fire {
  font-size: 1em;
  margin: 3px;
  color: #c200ff;
}

i.fa-star, i.fa-star-o {
    font-size: 1em;
    color: red;
    margin:1px;
}


.recipe-planner-card h3 {
  border-bottom: 1px solid #8080804f;
  padding-bottom: 15px;
}

form {
  max-width: 50em;
}

abbr {
  text-decoration: none;
}

/* COOK MODE */
body.cook-mode h1,
body.cook-mode h2,
body.cook-mode .actions,
body.cook-mode .ingredients,
body.cook-mode .breadcrumb
{
  display: none;
}

body.cook-mode .steps ol {
  margin: 0;
  padding: 0;
}

body.cook-mode .steps li {
  font-size: 1em;
  list-style: none;
  padding: 10px;
}

body.cook-mode .steps li.active {
  font-size: 1.75em;
  background-color: #79c7ff75;
  cursor: pointer;
  transition: background-color 1s;
  border: 1px solid #b1b1b1;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.15);
}

body.cook-mode .steps li.inactive {
  font-size: 1em;
  color: lightgrey;
}


