<div id="recipes-ingredient-search-wrapper">
  <label for="recipes-ingredient-search">Ingredients</label>
  <input type="text" name="ingredient-search" id="recipes-ingredient-search" placeholder="Search by ingredient"/>

  <template id="recipes-ingredient-template">
    <div class="recipes-search-result__ingredient"></div>
  </template>

  <template id="recipes-ingredient-no-results">
    <div class="recipe-ingredient-search-results__none">nothing...</div>
  </template>

  <template id="recipes-ingredient-label">
  <div class="recipe-ingredient-search-results__label">Matches</div>
  </template>

  <div class="recipe-ingredient-search-results">
    <div id="recipes-ingredient-search--found-ingredients">
      
    </div>
  </div>
</div>