<div class="ingredient">
  <span class="ingredient-amount">{{ amount }}</span>
  <span class="ingredient-ingredient">{{ name }}</span>
  {% if extra %}
    <span class="ingredient-extra">{{ extra }}</span>
  {% endif %}
</div>
